<!DOCTYPE html>
<html lang="zxx">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Directing Template">
    <meta name="keywords" content="Directing, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Directing | Template</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700;800&display=swap" rel="stylesheet">

    <!-- Css Styles -->
    <link rel="stylesheet" href="css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="css/elegant-icons.css" type="text/css">
    <link rel="stylesheet" href="css/flaticon.css" type="text/css">
    <link rel="stylesheet" href="css/nice-select.css" type="text/css">
    <link rel="stylesheet" href="css/barfiller.css" type="text/css">
    <link rel="stylesheet" href="css/magnific-popup.css" type="text/css">
    <link rel="stylesheet" href="css/jquery-ui.min.css" type="text/css">
    <link rel="stylesheet" href="css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="css/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="css/style.css" type="text/css">
    <link rel="stylesheet" href="css/style22.css" type="text/css">
    <style>
        .user_planDetail{
            padding-top: 50px;
            padding-bottom: 40px;
        }
        .planDetail_title{
            padding-bottom: 40px;
            text-align: left;
        }
        .btn_left{
            text-align: left;
        }
        .btn_right{
            text-align: right;
        }
        .planDetail_contents{
            width: 80%;
            align-items: center;
        }
        .deleteBtn{
            text-align: center;
        }
        .listArea{
            width:1150px;
            height:550px;
            margin:auto;
        }
        .thumbnail{
            display:inline-block;
            /* width:220px; */
            border:1px solid white;
            margin:10px;
        }
        .thumbnail:hover{
            opacity:0.7;
            cursor:pointer;
        }
    </style>
</head>

<body>
    <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>

    <!-- Header Section Begin -->
    <header class="header">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-3 col-md-3">
                    <div class="header__logo">
                        <a href="./index.html"><img src="img/logo.png" alt=""></a>
                    </div>
                </div>
                <div class="col-lg-9 col-md-9">
                    <div class="header__nav">
                        <nav class="header__menu mobile-menu">
                            <ul>
                
                
                                <li><a href="./selectPlan.html">일정플래너</a>
                
                                    <ul class="dropdown">
                                        <li><a href="./listing.html">마음대로일정</a></li>
                                        <li><a href="./listing-details.html">추천일정</a></li>
                                        <li><a href="./planSave.html">일정보관함</a></li>
                
                                    </ul>
                                </li>
                                <li><a href="#">FAQ</a></li>
                                <li><a href="./blog.html">커뮤니티</a></li>
                
                                <li><a href="#">로그인</a></li>
                                <li><a href="#">회원가입</a></li>
                            </ul>
                        </nav>
                        <div class="header__menu__right">
                
                        </div>
                    </div>
                </div>
            <div id="mobile-menu-wrap"></div>
        </div>
    </header>
    <!-- Header Section End -->

    <!-- Breadcrumb Begin -->
    <div class="breadcrumb-area set-bg" data-setbg="img/breadcrumb/breadcrumb-blog2.gif">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <div class="breadcrumb__text">
                        <h2>일정 상세페이지</h2>
                        <div class="breadcrumb__option">
                            <a href="#"><i class="fa fa-home"></i> 홈</a>
                            <span>일정보관함</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Breadcrumb End -->

    <!-- Work Section Begin -->
    <section class="page-start">
    
    </section>

    <!-- Categories Area Start -->
    <div class="categories-area section-padding30 user_planDetail">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="planDetail_title">
                        <a href="#"><h4>내일정 보관함</h4></a>
                        <a href="#"><h4>추천일정 보관함</h4></a>
                    </div>
                </div>
                <!-- <div class="col-lg-2">
                    <div class="planDetail_title">
                        <button class="btn btn-primary">뒤로</button>
                    </div>
                </div> 버튼 이상해서 일단 지웠음-->
            </div>

            <div class="listArea">
                <div class="thumbnail" align="center">
                    <input type="hidden" value="<%=b.getBoardNo()%>">
                    <input type="checkbox" class="checkBox"><br>
                    <img src="img/chun.png" width="350px" height="250px"> <br>
                    <!-- <img src="<%=contextPath %>/resources/board_upfiles/<%= b.getTitleImg() %>" width="300px" height="250px"> <br> -->
                    <p>
                        우리가족 나들이
                    </p>
                </div>
                <div class="thumbnail" align="center">
                    <input type="checkbox" class="checkBox"><br>
                    <input type="hidden" value="<%=b.getBoardNo()%>">
                    <img src="img/chun.png" width="350px" height="250px"> <br>
                    <!-- <img src="<%=contextPath %>/resources/board_upfiles/<%= b.getTitleImg() %>" width="300px" height="250px"> <br> -->
                    <p>
                        토요일 데이트
                    </p>
                </div>
                <div class="thumbnail" align="center">
                    <input type="checkbox" class="checkBox"><br>
                    <input type="hidden" value="<%=b.getBoardNo()%>">
                    <img src="img/chun.png" width="350px" height="250px"> <br>
                    <!-- <img src="<%=contextPath %>/resources/board_upfiles/<%= b.getTitleImg() %>" width="300px" height="250px"> <br> -->
                    <p>
                        토요일 데이트
                    </p>
                </div>
            </div>
            
            <div class=" deleteBtn">
                <a href="#"><button type="button" class="btn btn-primary">삭제하기</button></a>
                        <!-- <a href="updateForm.no?nno=<%=n.getNoticeNo()%>">수정하기</a> &nbsp;&nbsp;
			            <a href="delete.no?nno=<%=n.getNoticeNo()%>">삭제하기</a> -->
            </div>
            
        </div>
    </div>


    <!-- Footer Section Begin -->
    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-6">
                    <div class="footer__about">
                        <div class="footer__about__logo">
                            <a href="./index.html"><img src="img/logo_D_1.png" alt=""></a>
                        </div>
                        <p>어디갈까 고민될 때는 어디어디!! &#128150;<br>
                        어디어디와 함께라면 지루한 일상도 특별하게

                        </p>
                    </div>
                </div>
                <div class="col-lg-6 offset-lg-2 col-md-6">
                    <div class="footer__address">
                        <ul>
                            <li>
                                <span>전화번호:</span>
                                <p>(+12) 345-678-910</p>
                            </li>
                            <li>
                                <span>이메일:</span>
                                <p>info.colorlib@gmail .com</p>
                            </li>
                            <li>
                                <span>주소:</span>
                                <p>서울특별시 강남구<br> 테헤란로14길 6</p>
                            </li>
                            <li>
                                <span>Connect Us:</span>
                                <div class="footer__social">
                                    <a href="#"><i class="fa fa-facebook"></i></a>
                                    <a href="#"><i class="fa fa-instagram"></i></a>
                                    <a href="#"><i class="fa fa-twitter"></i></a>
                                    <a href="#"><i class="fa fa-skype"></i></a>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
              
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="footer__copyright">
                        <div class="footer__copyright__text"><p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
  Copyright &copy;<script>document.write(new Date().getFullYear());</script> img by pngtree, Korea tourism oranization <i class="fa fa-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
  <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
                        </div>
                        <div class="footer__copyright__links">
                            <a href="#">서비스 소개</a>
                            <a href="#">이용약관</a>
                            <a href="#">개인정보처리방침</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- Footer Section End -->

    <!-- Js Plugins -->
    <script src="js/jquery-3.3.1.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/jquery.nice-select.min.js"></script>
    <script src="js/jquery-ui.min.js"></script>
    <script src="js/jquery.nicescroll.min.js"></script>
    <script src="js/jquery.barfiller.js"></script>
    <script src="js/jquery.magnific-popup.min.js"></script>
    <script src="js/jquery.slicknav.js"></script>
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/main.js"></script>
</body>

<script>
    $(function(){
    var $header = $('header'); //헤더를 변수에 넣기
    var $page = $('.page-start'); //색상이 변할 부분
    var $window = $(window);
    var pageOffsetTop = $page.offset().top;//색상 변할 부분의 top값 구하기
    
    $window.resize(function(){ //반응형을 대비하여 리사이즈시 top값을 다시 계산
        pageOffsetTop = $page.offset().top;
    });
    
    $window.on('scroll', function(){ //스크롤시
        var scrolled = $window.scrollTop() >= pageOffsetTop; //스크롤된 상태; true or false
        $header.toggleClass('down', scrolled); //클래스 토글
    });
    });

    //새 창 열기
    function newPage()  {
        window.open('./placeDetail.html');
    }
    
</script>

</html>